@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-role {
    display: none !important;
}
  /* Modal styles */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/opacity */
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 1% auto;
    padding: 0px!important;
    border: 1px solid #888;
    width: 100%;
    max-width: 800px;
  }
  .modal-content h2{background-color: #B22234; padding:10px;font-size:18px;color:#FFFFFF}
  #modalContent{padding:20px}
  #modalContent .modal-field {margin-bottom:10px; font-weight: 600; color:#121212}
  #modalContent .modal-field strong{color:#121212;font-weight: 400;}
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
      right: 20px;
      top: 0px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
   
  
  .exemptentitypopup{
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  .popupcontent{
    max-width: 30%;
      text-align: center;
      background: #eaeaea;
      padding: 35px;
      border-radius: 2px;
      box-shadow: 0 0 #000;
  }
  div.reportinngcompanynotinitial{display: none;}
  @media(max-width:991px){
  .popupcontent{
    max-width: 100%;
  }}
  .table thead th{color:#FFFFFF!important;font-size:18px!important}
  .table td{color:#121212!important;font-size:14px!important}
  .was-validated .form-control:valid, .form-control.is-valid{border-color:#121212!important;background-image:none!important}
  .accordion-collapse{background-color: #00800011;}
  .accordion-button{border-radius: 4px!important;}
  input.form-control,select.form-control,textarea.form-contro l,.form-check-input {border-color:#121212;}
  .was-validated .form-control:invalid, .form-control.is-invalid{
    background:#c0322111!important}
  
  
  @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
  @import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
  .bg-primary,.btn-primary{
      background: #00276e!important;
      border-color:#00276e;
      color:#FFFFFF!important
  }
  .btn-secondary{
      background: #00276e!important;
      border-color:#00276e;
      color:#FFFFFF!important
  }
  .btn-secondary:hover{
      background: #00276e!important;
      border-color:#00276e;
      color:#FFFFFF
  }
  .clientlogin{
      display:flex;align-items:center;justify-content:center;width: 100%;height: 100vh; position: relative;}
  .formbox{
  flex-flow:column;
  display:flex;align-items:center;justify-content:center;width: 30%;text-align:center;
  }
  .formbox input{margin:10px 0; width:100%}
  .footerform{
      position:fixed;width:100%;text-align:center;background:#00276e;color:#FFFFFF;font-size:11px;bottom:0;left:0
  }
  @media(max-width:991px){
      .formbox{width: 90%!important
  }
  
  .clientlogin:before{
      content:'';
      background: url(https://images.pexels.com/photos/3760514/pexels-photo-3760514.jpeg) 0 0 no-repeat;
      background-size: cover!important;
      background-position: center center!important;
  }
  }
  .clientlogin:before{
      content:'';
      background: url(https://images.pexels.com/photos/3760514/pexels-photo-3760514.jpeg) 0 0 no-repeat;
      background-size: 120%;
      background-position: bottom right;
      position: fixed;
      top:0;
      left:0;
      bottom:0;
      right:0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .2
  }
  
  .card-body label{font-size:14px; margin:10px 0}
  .card-header h5{color:var(--bs-primary)}
  .thead-dark tr th:first-child {border-radius:calc(0.75rem - 1px) 0 0 0}
  .thead-dark tr th:last-child {border-radius:0 calc(0.75rem - 1px) 0 0 }
   .card .thead-dark th{background: #121212!important;}    
  .modal{z-index: 1051!important;}
  .radiobox label{margin-right: 20px}
  .mid{font-weight:600!important;color:#121212!important}
   .card-header h4{color:#FFFFFF; font-size: 16px; margin: 0 ;}
   .card-header {padding:10px!important}
   
  .form-check-input{border-color: #151824;}
  .card .card-header{background:#00276e22; color:#121212}
  .card .card-header h4{color:#121212}
  .card-body label{color:#121212}
  .formarea{box-sizing: border-box;}
  .formarea form{padding:25px}
  .formarea .modal-body{padding:0}
  .formarea  .packgename{color: #121212;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700}
    .formarea  input{background-color: #fefefe; color:#333333;width: 100%; border:1px solid #eaeaea!important;border-radius: 0!important;}
    .formarea  input:focus{background-color: #00276e11; color:#121212;}
    .cardside{background-color: #00276e; color:#FFFFFF; min-height: 610px; background-image: url(/img/card.webp); background-repeat: no-repeat; background-position: top center;display: flex;align-items: center;padding: 30px 0 0;flex-flow: column;justify-content: end;order:2}
    .cardside p{line-height: normal; text-align: center;}
    .cardside .payamount{text-align: center; font-size: 40px; font-weight: 600; color:#FFFFFF;}
    .formareacontent{background-color: #f3f7f8;}
    .text-bold{font-weight: bold!important;}
    .pricebox h2 small{font-size: 24px;}
    .pricedata{font-size: 16px;}
    .pricedata li{margin-bottom: 10px;}
    .pricebox.card{background-color: #FFFFFF;
      border-color: #1E3264;
      transition-duration: 0.1s;
      padding: 0px 0px 0px 0px;
      border-style: solid;
      border-width: 5px 5px 5px 5px;
      border-radius: 10px;
      }
      .pricebox.card .services{background: #dbedf2;padding: 10px 0 0;}
      .price-header{
        padding:20px;
        background: #f3f7f8;
       }
      .packageprice{color:#2A2A2A;font-weight: 600!important;}
      .packagename{color:#B22234}
      li.space-item {
        color: red;
        display: none
    }
    .services{display: flex;
          flex-flow: wrap;
          align-items: center;
          justify-content: center;}
    li.space-item+li{ border-top:1px solid #eaeaea; margin-top: 30px!important; padding-top:30px!important;font-weight: 700;color:#121212;}
    .packageprice{margin-bottom: 0!important;}
    .btn.btn-primary.btn-lg.w-100{border-radius: 0!important;}
    .btn.btn-primary.btn-lg.w-100:hover,.formareacontent .btn.btn-primary.w-100:hover{background: #B22234!important;}
    @media (max-width:768px){
      .pricebox.card{padding:29px}
        .table{max-width: 100%; overflow: auto!important;white-space: normal!important; display: block;}
        .table thead,.table>tbody, td, tr, th{white-space: normal!important;}
        body,.formarea{padding:0!important}
        .modal-body .d-flex{display: block!important;}
        .cardside{order:2;width: 100%;}
        .formareacontent{width: 100%;}
        #reviewapplicationn,#llcformvalidate{margin-top: 15px;}
         .formarea{padding:30px!important}
         .secureimg img{max-width:65%;}
    }
